svg {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}

.cls-3 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5px;
}